@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=ZCOOL+QingKe+HuangYou&display=swap');

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #70e3eb;
  color: #9bc2e5;
  
  /* background-color: #032947; */
}
.navbar h1 {
  color: #e26bdc;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 10px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #70e3eb;
}

.rotate{
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.footerIcon :hover {
  background-color: #1F51FF;
  padding: 2px;
}